/**** Start Default Theme ****/
/* Active Link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus .optionbox .gearcheck,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.optionbox .gearcheck {
  background-color: #064fea;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.about h3 span,
.testimonials span,
.footer h3,
.footer .copyright span {
  color: #064fea;
}

.optionbox .coloroption,
.testimonials .carousel-indicators li.active {
  border: 2px solid #064fea;
}

.dropdown-menu {
  border-top: 3px solid #064fea;
}

/**** End Default Theme ****/
